<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>    
    <script type="text/javascript" src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"> 
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

  </head>
  <body>
    <div class="container" ng-controller="TodoCtrl">
        <div class="todo_list_form">
        	<h1 class="text-center">ToDo List</h1>
	      	<h2 class="text-center">I've got <span class="emphasis">{{getTotalTodos()}}</span> things to do</h2>
	      	<ul>
		        <li ng-repeat="todo in todos">
		          <input type="checkbox" ng-model="todo.done"/>
		          <span class="done-{{todo.done}}">{{todo.text}}</span>
		        </li>
	     	</ul>
		    <form>
		        <input class="form-control" placeholder="I need to..." type="text" ng-model="formTodoText" ng-model-instant required>
		        <button class="btn btn-success" type="button" ng-click="addTodo()">Add action to the list</button>
		    </form>
      
      		<button type="button" class="btn btn-warning" ng-click="clearCompleted()">Clear completed</button>
    	</div>
     </div>
  </body>  
</html>